/shiro/.vs/**
/shiro/obj/**
/shiro/bin/**
/shiro/packages/**

/Shiro.Lang/.vs/**
/Shiro.Lang/obj/**
/Shiro.Lang/bin/**
/.vs
/dist/**

/packages/**

/libs/math/.vs/**
/libs/math/obj/**
/libs/math/bin/**
/libs/math/packages/**
/libs/dist/**
