/shiro/.vs/**
/shiro/obj/**
/shiro/bin/**
/shiro/packages/**

/shide/.vs/**
/shide/obj/**
/shide/bin/**
/shide/packages/**

/Shiro.Lang/.vs/**
/Shiro.Lang/obj/**
/Shiro.Lang/bin/**
/.vs
/dist/**

/packages/**

/libs/*/.vs/**
/libs/*/obj/**
/libs/*/bin/**
/libs/*/packages/**
/libs/dist/**
/resources/.~lock.Guide.odt#
